
@import "_variables.scss";
@import "_minixs.scss";
$fuente_principal: 'Raleway', sans-serif;

html{
  @include box-sizing(border-box);
}

/*Aplixamos a todos los elementos*/
*,
*:after,
*:before{
  margin: 0px;
  padding: 0px;
  @include box-sizing(inherit);
}

body{
  font-family: $fuente_principal;
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

.oculto{
    display: none;
}

/*Agregamos el estilo para la clase centrado*/
.centrado{
  text-align: center;
}
/*Estilos para el header*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    padding: 1rem 0;
    margin-bottom: 0px;
  }
}

/*Estilos para el carrito*/
.carrito-compras{
  position: relative;
  .img-carrito{
    max-width: 150px;
    height: 50px;
  }
  &:hover .contenido {
    position: absolute;
    display: block;
    top: 100%;
    right:0;
    background-color: $gris;
    padding: 1rem;
    max-width: 400px;
    border-radius: .3rem;
  }
  img{
    max-width: 150px;
  }
  .boton{
    @include boton($secundario);
  }
}

.hero{
    @include background-image('./../static/hero.jpg');
    background-size: cover;
    min-height: 30rem;
    color: $blanco;
    display: flex;
    justify-content: center;
    align-items: center;
    .contenido-hero{
      flex:1;
     h2{
       font-weight: 400;
       font-size: 2.4rem;
       margin-bottom: 1rem;
     }
     p{
       font-size: 1.2rem;
       margin-bottom: 1rem; 
     }
     form{
        position: relative;
        width: 100%;
        @include tablet(){
          width: 40%;
        }
      input[type="submit"]{
        position: absolute;
        right: 0;
        top: 0;
        @include background-image('./../static/lupa.png');
        width: 3rem;
        height: 3rem;
        text-indent: -9999px;
        border: none;
        cursor: pointer;
      }
      input[type="search"]{
        width: 100%;
        height: 3rem;
       }

     }
    }
}

/*========Estilos de la barra============*/
.barra{
  min-height: 6rem;
  padding: 1rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  @include background-barra($secundario,$terciario);
  .iconos{
    display: flex;
    flex-direction: column;
    flex: 1;
    @include desktop(){
      flex-direction: row;
    }
    .icono{
      padding: 1rem;
      flex: 1;
      background-position: 5% center!important;
      @include tablet{
        background-position: 25% center!important;
      }
      @include desktop{
        background-position: left center!important;
      }
      background-size: 2.4rem;
      text-align: center;
      
    }
    .icono1{
      @include background-image('./../static/icono1.png');
    }
    .icono2{
      @include background-image('./../static/icono2.png');
    }
    .icono3{
      @include background-image('./../static/icono3.png');
    }
  }
}

/*Agregamos estilos para la seccion de cursos*/
.cursos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  .curso{
    border: 1px solid $gris;
    border-radius: 8px;
    width: 276px;
    &:hover{
      box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
      6px 6px 14px 0 rgba(255, 255, 255, 0.2);
    }
    .imagen-curso{
      border-radius: 8px 8px 0px 0px;
      width: 100%
    }
    flex: 0 1 calc(50%-1rem);
    margin-bottom: 1rem;

    @include tablet{
      .imagen-curso{
        width: 400px;
      }
      flex: 0 1 calc(33.3%-1rem);
    }
    @include desktop{
      .imagen-curso{
        width: 276px;
      }
      flex: 0 1 calc(25%-1rem);

    }
 
  }
}

.info-curso{
  padding: 1rem;
  h4{
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  p{
    margin-bottom: 0.3rem;
  }
  .precio{
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $colorTexto;
    .regular{
      text-decoration: line-through;
    }
    .oferta{
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
  .boton{
    @include boton($principal);
  }
}

.footer{
  border-top: 1px solid darken($gris, 10);
  margin-top: 1rem;
  padding-top: 2rem;
  .contenedor-footer{
    display: flex;
    flex-direction: column;
    @include telefono(){
      flex-direction: row;
    }
  }
}
.menu{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  flex: 1;
  @include desktop(){
    flex: 0 1 calc(30% - 1rem);
  }
  a{
    color: $negro;
    margin-bottom: 0.5rem;
    text-decoration: none;
  }
}
